.navbar {
    font-family: $mont;
    background: transparent;
    z-index: 10;
    .navbar-brand {
        font-size: 3em;
        color: #fff;
        font-weight: bold;

        .navbar-brand-logo {
            color: $iconic;
        }
    }

    .navbar-toggler {
        color: #fff;
        margin-top: 10px;
        padding: 10px;
        font-size: 3.5em;
        .navbar-toggler-icon {
            background-color: #fff;
            color: #fff;
        }
    }

    .navbar-collapse {
        color: #fff;
        .navbar-nav {
            .nav-item {
                position: relative;
                margin: 0 15px;
                .nav-link {
                    font-size: 2em;
                    color: #fff;
                }
            }
            
            .nav-item::after {
                content: '';
                position: absolute;
                bottom: -6px;
                width: 100%;
                height: 3px;
                left: 0;
                background: #fff;
                border-radius: 5px;
                transform-origin: right;
                transform: scaleX(0);
                transition: transform 0.5s;
            }

            .nav-item:hover::after {
                transform-origin: left;
                transform: scaleX(1);
            }
        }
    }
}

.shadow-bg {
    // margin-top: 32px;
    background-color: rgba(0,0,0,.9);
}